<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>管理系统主页</title>
    <script th:src="@{/js/jquery-3.2.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<script>
    $(function () {
        var userid = sessionStorage.getItem("id");
        if (userid == null) {
            location.href = "/"
        }
        $.ajax({
            url: "/users/",
            type: "get",
            dataType: "json",
            success: function (data) {
                var n = 0;
                $.each(data, function (i, users) {
                    n++;
                    var date = new Date();
                    date.format
                    birthday = users.birthday;
                    if (birthday != null) {
                        date.setTime(users.birthday);
                        birthday = date.getFullYear() + "年" + (date.getMonth()+1) + "月" + date.getDate() + "日";
                        age = new Date().getFullYear()-date.getFullYear();
                    }
                    $("#table").append("<tr> <td>" + users.mac +
                        "</td> <td>" + users.id +
                        "</td> <td>" + users.name +
                        "</td> <td>" + users.gendar +
                        "</td> <td>" + age +
                        "</td> <td>" + birthday +
                        "</td> <td>" + users.intr +
                        "</td> </tr>");
                })

                $("#title").append("(当前注册总人数：" + n + "人)");


            }
        })

    })
</script>
<div class="panel panel-default">
    <div class="panel-heading">
        <div id="title" class="panel-title">注册人数统计</div>
    </div>
    <div class="panel-body">
        <table id="table" class="table table-bordered">
            <tr>
                <th class="info">mac地址</th>
                <th class="success">帐号</th>
                <th class="warning">姓名</th>
                <th class="danger">性别</th>
                <th class="info">年龄</th>
                <th class="success">出生年月日</th>
                <th class="warning">自我介绍</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>